
{% extends "partial/base.html" %}

{% block content %}

<div class="about-section" style="background: transparent;">
    <h1 style="font-size: xxx-large; color: black;"><strong>About Us</strong></h1>
  </div>
 
  <h2 style="text-align:center">Our Team</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/rattan_orig.png" alt="Chairman" style="width:100%; ">
        <div class="container">        
          <p class="title">S. HARPAL SINGH RATTAN</p>
          <strong class="title" >Chairman</strong>          
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/gur.jpeg" alt="Mike" style="width:100%">
        <div class="container">        
          <p class="title">MASTER GURNAM SINGH</p>
          <p class="title">GEN. SECRETARY/CASHIER</p>          
        </div>
      </div>
    </div>   
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/dr_orig.jpeg" alt="John" style="width:100%">
        <div class="container">   
          <p class="title">DR. GURBACHAN SINGH BACHAN</p>
          <p class="title">Sr. VICE CHAIRMAN</p>          
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/mahan_orig.jpeg" alt="Chairman" style="width:100%; " >
        <div class="container">        
          <p class="title">S. MOHAN SINGH BAGHI</p>
          <strong class="title" >SR VICE CHAIRMAN</strong>          
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/karam_orig.jpeg" alt="Mike" style="width:100%" >
        <div class="container">        
          <p class="title">S. KARAM SINGH</p>
          <p class="title">SR VICE CHAIRMAN</p>          
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/barnoti.jpeg" alt="John" style="width:100%">
        <div class="container">   
          <p class="title">DR. GURBACHAN SINGH BACHAN</p>
          <p class="title">Sr. VICE CHAIRMAN</p>          
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/11_orig.jpg" alt="Chairman" style="width:100%; " >
        <div class="container">        
          <p class="title">S. DALIP SINGH</p>
          <strong class="title" >SECRETARY</strong>          
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/abc.jpeg" alt="Mike" style="width:100%" >
        <div class="container">        
          <p class="title">S. GURDEV SINGH SODHI</p>
          <p class="title">ADDITIONAL SECRETARY</p>          
        </div>
      </div>
    </div>
    
    <div class="column">
      <div class="card">
        <img src="../../static/admin/img/gallery/bira.jpeg" alt="John" style="width:100%">
        <div class="container">   
          <p class="title">BABA JASBIR SINGH JI BEERA</p>
          <p class="title">PANTH RATTAN BABA HARBHANS SINGH JI <br> ​DELHI KAAR SEWA WALE</p>          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}