
{% extends "partial/base.html" %}
{% load static %}
{% block content %}

    <div class="tab" style="display: block;background-color: navy; padding-left: 15px 15px 15px 15px;">
      <h1 style="display:flex;color:white;justify-content: flex-start;">About Us</h1>
    </div>
    <div style="padding-left:15px;">
    {% for image,title,name in about %}
      
    <div class="card" style="width: 20rem;display:inline-flex;justify-content:space-between;">
        {% if image %}
        <img class="card-img-top" src="media/{{ image }}" alt="Card image cap" style="width: 100%;height: 50%; float: left; margin-right: 10px;" >
        {% else %}
        <img class="card-img-top" src="media/programme_images/khanda.jpeg" alt="Card image cap" style="width: 100%;height: 50%; float: left; margin-right: 10px;" >
        {% endif %}
        <div class="card-body">
          <p class="card-text">{{name}}</p>
          <span class="card-text">{{title}}</span>
        </div>
    </div>
      {% endfor %}
    </div>
      {% endblock %}