{% extends "partial/base.html" %}

{% block content %}

{% block messages %}
       
        {% if messages %}
        {% for message in messages %}
        <div
          id="fadeout"
          class="alert {{ message.tags }} alert-dismissible"
          role="alert"
        >
          
             {{ message }}
       </div>
                    <script>
                      setTimeout(function () {
                        $("#fadeout").fadeOut("fast");
                      }, 5000);
                    </script>
        
        {% endfor %}
        {% endif %}
       
{% endblock %}
<div class="container">
  <div style="text-align:center">
    <h1><strong>Contact Us</strong></h1>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img src="../../static/admin/img/gallery/khanda.jpeg" style="width:100%">
    </div>
    <div class="col-sm-6">
      <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <br>
        <input id="btn" type="submit" value="Submit">
     </form>
    </div>
  </div>
</div>


{% endblock %}