{% block header %} 

<header id="header" class="hoc clear">
    <div id="logo" class="fl_left"> 

      <h1><a href="index.html">Gurudwara Charan Kamal Sahib</a></h1>

    </div>
    <nav id="mainav" class="fl_right"> 

      <ul class="clear">
        <li class="active"><a href='{% url "index" %}'>Home</a></li>

        <li><a href="#">Programme Calendar</a></li>
        <li><a href="#">Location</a></li>
        <li><a href='{% url "about" %}'>About Us</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </header>
  {% endblock %} 