{% extends "partial/base.html" %}

{% load static %}
{% block content %}

<div class="tab" style="display: block;background-color: navy; padding: 15px 15px 15px 15px;">
    <h1 style="display:flex;color:white;justify-content: flex-start;">Location</h1>
  </div>
<div style="display: flex ;justify-content:space-around;padding:15px 15px 15px 15px;background-color:orange">
    
    <table cell="2" style="border-color:black ;width: 30%;">
        <tr>
            <td><b>Address</b></td>
            <td>Bakhta, Jasrota, Kathua 184143</td>
        </tr>
        <tr>
            <td><b>Coordinate</b></td>
            <td>32.507682, 75.428818</td>
        </tr>
        <tr>
            <td><b>Email</b></td>
            <td>charankamalsahib20@gmail.com</td>
        </tr>
    </table>
<iframe style="padding:15px 15px 15px 15px;width: 70%;"
 src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50594.71210477332!2d75.38510264647829!3d32.48021219458075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x391c6be3bde9b7df%3A0xdc87b7c9524bfd98!2sGurdwara%20Charan%20Kamal%20Sahib%20Bakhta%2CJasrota!5e0!3m2!1sen!2sin!4v1644001562119!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

{% endblock %}